@(title: String)(head: Html)(content: Html)

@import play.mvc.Http.Context.Implicit.ctx
@import com.atlassian.connect.play.java.AcHost

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        @defining(ctx.args("ac_host").asInstanceOf[AcHost].getBaseUrl()) { baseUrl =>
        <link rel="stylesheet" href="@baseUrl/remotable-plugins/all.css">
        <script type="text/javascript" src="@baseUrl/remotable-plugins/all.js"></script>
        }

        @head

        <title>@title</title>
    </head>
    <body style="background-color: transparent"> @* style is there to work around some AUI glitches *@
        @content
    </body>
</html>