@(title: String)(head: Html)(content: Html)
@import views.ac.BaseUrl

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        @defining(BaseUrl.get()) { baseUrl =>
            @if(baseUrl != null) {
            <link rel="stylesheet" href="@baseUrl/atlassian-connect/all.css">
            <script type="text/javascript" src="@baseUrl/atlassian-connect/all.js"></script>
            }
        }

        @head

        <title>@title</title>
    </head>
    <body style="background-color: transparent"> @* style is there to work around some AUI glitches *@
        @content
    </body>
</html>