@(title: String)(head: Html)(content: Html)
@import views.ac.BaseUrl
@import com.atlassian.connect.play.java.AC

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        @if(AC.getToken.isDefined) {
            <meta name="acpt" content="@AC.getToken.get">
        }

        @defining(BaseUrl.get()) { baseUrl =>
            @if(baseUrl != null) {
            <link rel="stylesheet" href="@baseUrl/atlassian-connect/all.css">
            <script type="text/javascript" src="@baseUrl/atlassian-connect/all.js"></script>
            }
        }

        @head

        <title>@title</title>
    </head>
    <body style="background-color: transparent"> @* style is there to work around some AUI glitches *@
        @content
        <script type="text/javascript">(window.AJS && window.AJS.$) || document.write('<script src="//code.jquery.com/jquery-1.10.2.min.js"><\/script>')</script>
        <script type="text/javascript" src="@com.atlassian.connect.play.java.controllers.routes.AcController.asset("js/pagetoken.js")"></script>
    </body>
</html>