@ac.internal.page("descriptor") {

} {
    <h2>Defining your own descriptor.</h2>

    <h3>Override the root URL</h3>
    <p>In your <code>routes</code> file:</p>
    @ac.aui.message() {
        <code><pre>GET       /                           controllers.Application.index()</code></pre>
    }
    <p>Make sure this comes <em>before</em> the included routes from this module, represented by:</p>
    @ac.aui.message() {
        <code>->        /                           ac.Routes</code>
    }

    <h3>Define your descriptor template</h3>
    <p>Create a filed called <code>atlassian-connect.json</code> in the root directory of your play app.
       The contents of this file is described in detail in the <a href="https://developer.atlassian.com/static/connect/docs/">atlassian-connect documentation</a>.
    </p>
    <p>It is recommended to define the base url as follows so that it is automatically populated for your environment</p>

    @ac.aui.message() {
        <code><pre>"baseUrl": "${localBaseUrl}"</pre></code>
    }

    <h3>Define your <code>Application.index</code> controller</h3>
    <p>Create controller <code>app/controllers/Application.java</code>, with the following content:</p>
    
    @ac.aui.message() {
            <code><pre>
package controllers;

import com.atlassian.connect.play.java.controllers.AcController;
import com.google.common.base.Supplier;
import play.mvc.Controller;
import play.mvc.Result;


public class Application extends Controller {

    public static Result index() {
        return AcController.index(
                AcController.home(),    // we keep the HTML home page from the module, as this is our documentation for now
                descriptorSupplier());  // serve the descriptor when accept header is 'application/json', try 'curl -H "Accept: application/json" http://localhost:9000'
    }

    public static Result descriptor() {
        return AcController.descriptor();
    }

    private static Supplier<Result> descriptorSupplier() {
        return new Supplier<Result>() {
            public Result get() {
                return descriptor();
            }
        };
    }
}
            </pre></code>
    }

    @ac.aui.message() {
        <p>You can view your current descriptor <a href="/atlassian-connect.json">here</a></p>
    }

    @ac.aui.success("That's it!") {
        <p>You're ready to add your own modules to your plugin.</p>
    }
}
